[submodule "lib/yieldnest-flex-strategy"]
	path = lib/yieldnest-flex-strategy
	url = https://github.com/yieldnest/yieldnest-flex-strategy
	branch = fix/withdraw-to-allocator
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std